.toolbar {
    position: 'fixed';
    top: 0;
    left: 0;
    width: 100%;
    background: #521751;
    height: 56px;
    
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}


.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
/* lets add a spacing between the drawerToggleButton and the logo itself */
.toolbar__logo {
    margin-left: 1rem;
}

.toolbar_navigation-items ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;    
}
/* this simply means it should take all available space */
.spacer {
    flex: 1;
}

.toolbar_navigation-items li {
    padding: 0 0.5em;
}


.toolbar_navigation-items a {
    color: white;
    text-decoration: none;

}

.toolbar_navigation-items :hover,
.toolbar_navigation-items :active{
    color: #fa923f;
}
/* We dont want the items to show on mobile screens */
@media (max-width: 768px){
    .toolbar_navigation-items {
        display: none;
    }
}

@media (min-width: 769px){
    .toolbar__toggle--button {
        display:none
    }
    /* lets remove the margin too */
    .toolbar__logo {
        margin-left: 0;
    }
}